html, body {
    background-color: var(--vert-bg);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin-bottom: 60px; 
}

.titre_stock {
    font-size: xx-large; 
    font-weight: bold;
    font-variant: small-caps;
    color: var(--vert-fonce);
    margin: 15px;
    text-decoration: none;
}

/* NAV BARRE INDEX */

nav {
    background-color: var(--vert);
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    margin-bottom: 50px;
}

.profil {
    display: flex;
    margin-left: auto;
    font-size: 24px;
    color: var(--vert-fonce);
    margin: 15px;
    text-decoration: none;
}

.titre {
    font-size: large; 
    font-weight: bold;
    font-variant: small-caps;
    color: var(--vert-fonce);
    margin: 15px;
    text-decoration: none;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    transition: border-color 0.2s;
}

.search-input:focus {
    border-color: var(--vert-fonce);
}

.search-button {
    padding: 0.5rem 1rem;
    background-color: var(--vert-fonce);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--vert-hover);
}

.all-goods {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 0.5rem 1rem;
    background-color: var(--vert-fonce);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.all-goods:hover {
    background-color: var(--vert-hover);
}

/* FOOTER INDEX */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--vert);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.social-icon {
    font-size: 24px;
    color: #000;
    margin: 15px;
    text-decoration: none;
}

/* CREATION PRODUIT ADMIN */

.product-form {
    background-color: var(--vert);
    border: 1px solid #ccc;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-variant: small-caps;
    color: var(--vert-hover);
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-input {
    background-color: var(--vert-fonce);
    color: #fff;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-input:hover {
    background-color: var(--vert-hover);
}

.submit-button {
    background-color: var(--vert-fonce);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: var(--vert-hover);
}

.image {
    font-weight: bold;
    font-variant: small-caps;
    color: var(--vert-hover);
    margin-bottom: 20px;
}

/* PRODUIT ACCUEIL */

.products-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-container {
    width: 20%;
    margin: 1.75%;
    margin-bottom: 100px;
}

.product-image-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 5px solid var(--vert-hover);
    border-radius: 5px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-details {
    background-color: var(--vert);
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-title {
    font-variant: small-caps;
    color: var(--vert-hover);
    margin: 0;
    padding: 10px 0;
}

.product-description {
    margin: 10px 0;
    font-weight: bold;
    color: var(--vert-hover);
}

.product-price {
    font-weight: bold;
    color: var(--vert-hover);
    width: 50%;
    text-align: center;
    padding: 5px;
    border-right: 1px solid var(--vert-hover);
}

.all-info {
    margin: 5%;
}

/* COULEURS */

:root{
    --vert-bg: #fdfffd;
    --vert: #cad2c5;
    --vert-fonce: #84a98c;
    --vert-hover: #779f80;
}