html, body {
    background-color: var(--vert-bg);
    margin: 0;
    padding: 0;
    height: 100%;
}

/* NAV BARRE INDEX */

nav {
    background-color: var(--vert);
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
}

.profil {
    display: flex;
    margin-left: auto;
    font-size: 24px;
    color: var(--vert-fonce);
    margin: 15px;
    text-decoration: none;
}

.titre {
    font-size: large; 
    font-weight: bold;
    font-variant: small-caps;
    color: var(--vert-fonce);
    margin: 15px;
    text-decoration: none;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    transition: border-color 0.2s;
}

.search-input:focus {
    border-color: var(--vert-fonce);
}

.search-button {
    padding: 0.5rem 1rem;
    background-color: var(--vert-fonce);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--vert-hover);
}

.all-goods {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 0.5rem 1rem;
    background-color: var(--vert-fonce);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.all-goods:hover {
    background-color: var(--vert-hover);
}

/* FOOTER INDEX */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--vert);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.social-icon {
    font-size: 24px;
    color: #000;
    margin: 15px;
    text-decoration: none;
}

/* COULEURS */

:root{
    --vert-bg: #fdfffd;
    --vert: #cad2c5;
    --vert-fonce: #84a98c;
    --vert-hover: #779f80;
}