    <footer>
        <a href="https://www.instagram.com/" class="social-icon">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/" class="social-icon">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://twitter.com/" class="social-icon">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/" class="social-icon">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.tiktok.com/" class="social-icon">
            <i class="fab fa-tiktok"></i>
        </a>
    </footer> 
</body>
</html>