<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="index.php" class="titre">ACCUEIL</a>
        <form class="search-form" role="search" action="recherche.php" method="GET">
            <input class="search-input" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="search-button" type="submit">Rechercher</button>
        </form>        
        <form action="index2.php">
            <button class="all-goods" type="submit">Tout les produits</button>
        </form>
        <form action="cart.php">
            <button class="all-goods" type="submit">Mon panier</button>
        </form>
        <a href="connexionAdmin.html" class="profile-icon profil">
            <i class="fas fa-user-circle"></i>
        </a>
    </nav>
