<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <p class="titre">ACCUEIL</p>
        <form class="search-form" role="search">
            <input class="search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="search-button" type="submit">Search</button>
        </form>
        <button class="all-goods" type="submit">Tout les produits</button>
        <a href="#" class="profile-icon profil">
            <i class="fas fa-user-circle"></i>
        </a>
    </nav>
