<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="index.php" class="titre">ACCUEIL</a>
        <form action="Admin.php" type="submit">
            <button class="all-goods" type="submit">Creer</button>
        </form>
        <form action="AdminModif.php" method="GET">
            <button class="all-goods" type="submit">Modifier</button>
        </form>
        <form action="AdminSuppr.php" method="GET">
            <button class="all-goods" type="submit">Supprimer</button>
        </form>
    </nav>
